body {
    max-width: 1280px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    top: 0 !important;
}

.skiptranslate {
  display: none;
  height: 0;
}

.header {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 40px 10px 10px;
}

.header__title {
    padding: 0;
    margin: 0;

    font-size: 40px;
    font-weight: 400;
    font-family: Caveat, sans-serif;
    text-align: center;

    text-decoration: none;
    color: black;
}

.header__title:hover {
    cursor: pointer;
}

.header__username {
    font-weight: 500;
    font-size: 18px;

    padding: 27px 0 0;
    margin: 0;

    text-decoration: none;
    color: black;
}

.nav {
    width: calc(100%);
    display: flex;
    align-items: end;

    padding-top: 30px;
}

.nav-links {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links_header {
    justify-content: end;
}

.nav-link {
    font-weight: 400;
    font-size: 15px;

    padding: 0 0 0 10px;
    margin: 0;

    text-decoration: none;
    color: black;
}

.nav-link_translate {
    display: flex;
    flex-direction: row;

    border-left: 2px solid #000000;

    margin: 0 0 0 15px;
    padding: 0 0 0 5px;
}

.nav-link_language {
    transition: color, border-bottom .5s linear;
    margin: 0 0 0 5px;
    padding: 0;
}

.nav-link_language-active {
    border-bottom: 1px solid #000;
}

.nav-link_language:hover {
    cursor: pointer;
    color: #2e3131;
}

.nav-link_button{
    border: none;
    background-color: transparent;
}

.nav-link_button:active {
    border: none;
}

.nav-link_active {
    font-weight: 600;
}

.nav-link:hover {
    cursor: pointer;
    opacity: .7;
}

.main {
    margin-top: 60px;
}

.preview__container {
    width: 100%;
    height: 500px;
    margin: 0 auto;

    position: relative;
}

.preview__container_img {
    width: 100%;
    height: 500px;

    position: absolute;

    object-fit: cover;
    object-position: center center;

    filter: brightness(60%)
}


.preview__container_title {
    position: absolute;
    top: 180px;
    width: 100%;
    text-align: center;

    margin: 0;
    padding: 0;

    font-size: 70px;
    font-weight: 500;
    line-height: 72px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .8);
}

.post__container {
    display: flex;
    flex-direction: column;
}

.post__container_text {
    margin: 30px 40px 40px;
    padding: 0;
}

.preview__container_date {
    font-size: 18px;
    font-weight: 400;
    color: white;

    width: 100%;
    text-align: center;

    position: absolute;

    padding: 0;
    margin: 0;

    bottom: 20px
}

.post__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;

    margin: 15px 0 0;
    padding: 0;
}

.post__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;

    margin: 30px 0 -10px;
    padding: 0;
}

.post__list {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

.post__text:first-child {
    margin: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 30px 0 20px;
    padding-bottom: 20px;
}