{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
    <title>Блог путешественника | {{ post.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Roboto:wght@100;300;400;500;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>
<body>
<header class="header">
    <a class="header__username">{{ username }}</a>
    <a class="header__title" href="/"><h1 class="header__title">Всё о путешествиях</h1></a>
    <nav class="nav">
        <ul class="nav-links nav-links_header">
            <li class="nav-link"><a class="nav-link nav-link_active" href="/">Блог</a></li>
            <li class="nav-link"><a class="nav-link" href="/news">Тревел-новости</a></li>
            {% if user.is_authenticated %}
                <li class="nav-link"><a class="nav-link" href="/signout">Выйти</a></li>
            {% else %}
                <li class="nav-link">
                    <button class="nav-link nav-link_button" onclick="openModal()">Войти</button>
                </li>
            {% endif %}
                <li class="nav-link nav-link_translate">
                    <p data-google-lang="ru" class="nav-link nav-link_language nav-link_language-active">RU</p>
                    <p data-google-lang="en" class="nav-link nav-link_language">EN</p>
                </li>
        </ul>
    </nav>
</header>
<main class="main">
    {% block content %}
        <section class="post__container">
            <div class="preview__container">
                <img class="preview__container_img" alt='{{ post.title }}' src='{{ post.img }}'>
                <p class="preview__container_title">{{ post.title }}</p>
                <p class="preview__container_country">{{ post.country }}</p>
            </div>
            <div class="post__container_text">{{ post.body|safe }}</div>
        </section>
    {% endblock content %}
</main>
<footer class="footer">
    <nav class="nav">
        <ul class="nav-links">
            <li class="nav-link"><a class="nav-link nav-link_active" href="/">Блог</a></li>
            <li class="nav-link"><a class="nav-link" href="/news">Тревел-новости</a></li>
        </ul>
    </nav>
</footer>

<div id="signinModal" class="modal">
    <div class="modal__container">
        <h2 class="modal__title">Авторизация</h2>
        <button class="modal__close" onclick="closeModal()"></button>
        <form method="post" class="form" id="signinForm">
            {% csrf_token %}

            <label class="form__lable" for="username">Введите имя пользователя</label>
            <input class="form__input" type="text" name="username" id="username" placeholder="Имя пользователя">

            <label class="form__lable" for="password">Введите пароль</label>
            <input class="form__input" type="password" name="password" id="password" placeholder="Пароль">

            <div class="form__error-container" id="error-container"></div>

            <button class="form__button" type="submit">Отправить</button>

            <p onclick="closeFirstModal()" class="form__another">Зарегистрироваться</p>
        </form>
    </div>
</div>


<div id="signupModal" class="modal">
    <div class="modal__container modal__container_signup">
        <div class="container">
            <h2 class="modal__title">Регистрация</h2>
            <button class="modal__close" onclick="closeModal()"></button>
            <form method="post" class="form" id="signupForm">
                {% csrf_token %}

                <label class="form__lable" for="username">Введите имя пользователя</label>
                <input class="form__input" name="username" id="username" placeholder="Имя пользователя">
                <p id="username_error" class="form__error">{{ form.username.errors }}</p>

                <label class="form__lable" for="email">Введите email</label>
                <input class="form__input" name="email" id="email" placeholder="Email">
                <p id="email_error" class="form__error">{{ form.email.errors }}</p>

                <label class="form__lable" for="password1">Введите пароль</label>
                <input class="form__input" name="password1" id="password1" placeholder="Пароль">
                <p id="password1_error" class="form__error">{{ form.password1.errors }}</p>

                <label class="form__lable" for="password2">Повторите пароль</label>
                <input class="form__input" name="password2" id="password2" placeholder="Пароль">
                <p id="password2_error" class="form__error">{{ form.password2.errors }}</p>

                <button class="form__button" type="submit">Отправить</button>

                <p class="form__another">Войти</p>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src={% static "js/googleTranslate.js" %}></script>
<script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'js/signin.js' %}"></script>
<script src="{% static 'js/signup.js' %}"></script>
<script src="{% static 'js/autoHeight.js' %}"></script>
</body>
</html>